@font-face {
    font-family: 'Cooper';
    font-style: normal;
    font-weight: 400;
    src: url(/public/fonts/Cooper.ttf);
}

body{
    position: relative;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: -webkit-linear-gradient(225deg, rgb(242, 0, 0) 17%, rgb(0, 233, 255) 85%);
    background: -moz-linear-gradient(225deg, rgb(242, 0, 0) 17%, rgb(0, 233, 255) 85%);
    background: linear-gradient(225deg, rgb(242, 0, 0) 17%, rgb(0, 233, 255) 85%);
    overflow-x: hidden;
}
@media(max-width:1200px){
    body{
        overflow-x: hidden;
        max-width: 1100px;
    }
}
.container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
    
}
@media(max-width:1200px){
    .container{max-width: 970;
    }
}
@media(max-width:992px){
    .container{max-width: 750;
    }
}
@media(max-width:767px){
    .container{max-width: none;
    }
}
/*Шапка*/

#home{
    float: left;
}
.header{
    /*position: fixed;*/
    z-index: 1;
    height: 400px;
    width: 100%; 
}
@media(max-width:1200px){
    .header{
    height: 550px;
    width: 100%;
    }
}
.header_box{
    /*position: fixed;*/
    width: 100%;
    background-color: #fff;
    height: 54px;
    z-index: 100;
    z-index: 98;
}
@media(max-width:1200px){
    .header_box{width: 1100px;
        height: 140px;
        padding-right:100px;
    }
}
.fixed {
    position: fixed;
    z-index: 99;
    top: 0;
}
.header_logo{
    float: left;
    margin-top: -10px;
    margin-left: 12%;
}
@media(max-width:1200px){
    .header_logo{
    float: left;
    margin-top: -10px;
    margin-left: 3%;
    font-size: 36px;
    }
}
.header_logo_admin{
    float: left;
    margin-top: 5px; 
    margin-left: 90px; 
    margin-right: 0px;
}
.header_logo a, .header_logo_admin a{
    text-decoration: none;
    color: rgb(242, 0, 0);
    font-family:'Cooper', arial;
}
.header_logo_admin a:hover{
    text-decoration: none;
    color: rgb(242, 0, 0);
}
.header_menu ul{
    margin: 0;
    float: left;
    margin-left: 10%;
}

.header_menu ul li {
    width: 140px;
    float: left;
    display: inline; 
    text-align: center;
    padding-top: 20px;
    font-weight:bold;
}
@media(max-width:1200px){
    .header_menu ul li {
    width: 100px;
    padding-top: 10px;
    margin-top: 10px;
    }
}
.header_menu ul li a{
    text-decoration: none;
    color:rgb(13, 153, 166);
}
.header_menu ul li a:hover{
    color:rgba(30, 236, 255, 0.903);
}
.header_menu ul li a.active {
	color: rgb(242, 0, 0);;
}

.authorization{
    margin-top: 12px;
    float: right;
    background-color: rgb(13, 153, 166);
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: center;
    width: auto;
    height: 25px;
    padding: 3px 2px 2px;
    margin-left: 2px;
    cursor: pointer;
}
.authorization a{
    text-decoration: none;
    color:#fff;
}
.authorization:hover{
    background-color: rgb(30, 236, 255, 0.903);
}

.itcss {
    width: 1353px;
    margin-left: -80px;
    padding: 0;
    margin-bottom: 0px;
}
@media(max-width:1200px){
    .itcss {
    width: 1265px;
    }
}
  
  /* стили для wrapper */
  .itcss__wrapper {
    width: 100%;
    display: table;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  /* стили для элемента, в котором непосредственно расположены элементы (слайды) */
  .itcss__items {
    position: relative;
    width: calc(100% * 4);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
  }
  
  /* класс для отключения transition */
  .transition-none {
    transition: none;
  }
  
  /* стили для элементов */
  .itcss__item {
    width: calc(100%/4);
    list-style: none;
    display: inline;
    float: left;
    background-color: rgb(13, 153, 166);
  }
  
  .itcss__item img{
    width:100%;
    height: 320px;
  }
  @media(max-width:1200px){
    .itcss__item img{
        height: 380px;
        width:95%;
        margin-left: 60px;
    }
}
  /* кнопки Prev и Next */
  .itcss__control {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 50px;
    display: none;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: url("/public/images/arrowBg.png") left center no-repeat;
    opacity: 0.1;
    user-select: none;
  }
  
  .itcss__control_show {
    display: flex;
  }
  
  .itcss__control:hover,
  .itcss__control:focus {
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
  }
  
  .itcss__control_prev {
    left:10px;
  }
  
  .itcss__control_next {
    right:10px;
    background:url(/public/images/arrowBg.png) right center no-repeat;
  }
  
  .itcss__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }
  
  /* Индикаторы */
  .itcss__indicators {
    margin-top:-4px;
    text-align:center;
    background-color: rgb(13, 153, 166);
    margin-bottom: 0px;
  }
  
  .itcss__indicator {
    margin:5px 2px 1px;
    display:inline-block;
    width:16px;
    height:16px;
    overflow:hidden;
    text-indent:-9999px;
    background:url(/images/radioBg.png) center bottom no-repeat;
  }
  
  .itcss__indicator_active {
    background-position:center top;
  }
  .itcss__indicator:hover {
    background-position:center center;
  }


    
/*Тело*/    
.page,.servicepage{
    height: 1200px;
    width: 90%;
    margin-left: 8%;
    margin-top: 20px;
}
.content{
    height: auto;
    max-height: auto;
}
.content a{
    text-decoration: none;
    font-weight:bold;
    color: rgb(9, 128, 128);

}


.block, .block1{
    float: left;
    /*background: -webkit-linear-gradient(225deg, rgba(255, 254, 233, 0.644) 25%, rgba(43, 250, 250, 0.678) 82%);
    background: -moz-linear-gradient(225deg, rgb(255, 254, 233, 0.644) 25%, rgb(43, 250, 250, 0.678) 82%);
    background: linear-gradient(225deg, rgb(255, 254, 233, 0.644) 25%, rgb(43, 250, 250, 0.678) 82%);*/
    background-color: #2bfafa0b;
    height: 260px;
    width: 31%;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 15px;
    text-align: center;

    transform: translate(-100px, 200px);
    opacity: 0;
    transition: all 0,8s ease 0s;
    transition-duration: 1.2s;
}

.block1{
    transition-delay: 0.6s;
    transform: translate(100px, 200px);
}

@media(max-width:1200px){
    .block, .block1{
    height: 420px;
    width: 48%;
    margin-right: 2%;
    transform: translate(0px, 0px);
    opacity: 1;
    }
}
._active{
    transform: translate(0px, 0px);
    opacity: 1;
}
._active:hover{
    background: linear-gradient(#a04f56,#00e9ff);
    transition-duration: 0.001s;
    transition-delay: -0.5s;
}

.block3{
    margin-top: 20px;
    height: 760px;
    /*border: 1px solid black;*/
}
.block4, .serviceblock, .servicename{
    margin: 10px -5px 2px;
    height: 250px;
    width: 65%;
    float: left;
    color: #fff;
    font-size: 50px;
    font-family:'Cooper', arial;
    text-align: center;
}
@media(max-width:1200px){
    .block4, .serviceblock, .servicename{
    height: 350px;
    width: 85%;
    font-size: 70px;
    margin-left: -50px;
    margin-right: -180px;
    margin-top: 70px;
    }
}
.block5{
    margin-top: -30px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    float: left;
}
@media(max-width:1200px){
    .block5{
    margin-left: -110px;
    width: 430px;
    height: 430px;
    }
}
.block5 img{
    width: 100%;
    height: 100%;
}

#services{
    margin-top: -40px;
    padding-top: 70px;
    float: left;
}
@media(max-width:1200px){
    #services{
    width: 123%;
    margin-left: -9%;
    margin-top: -40px;
    padding-top: 0px;
    }
}
#contacts{
    float: left;
    padding-top: 40px;
}
@media(max-width:1200px){
    #contacts{
        width: 123%;
        margin-left: -9%;
    }
}
.promo{
    height: 94%;
    width: 94%;
    float: left;
}
.promo:hover{
    height: 100%;
    width: 100%;
    float: left;
    position: relative;
}

.promohover{
    position: absolute;
    border:1px solid white;
    border-radius: 20px;
    width: 150px;
    height: 44px;
    color: white;
    font-size: 20px;
    display: none;
    margin: -292px 25px;
    background-color: #ffffff3b;
}
@media(max-width:1200px){
    .promohover {
    border: 3px solid white;
    border-radius: 100px;
    width: 240px;
    height: 105px;
    font-size: 44px;
    margin: -440px 25px;
    }
}


.promo:hover .promohover{
    display: initial;
}

.promoimg{
    height: 90%;
    margin: 3% 10% 3%;
    width: 80%;
    float: left;
    text-align: center;
}
.promoimg img{
    height: 101%;
    width: 101%;
}
.promoimg p{
    font-size: 40px;
    color: #fff;
    font-family:'Cooper', arial;
    margin-top: -28%;
    width: 300px;
}
@media(max-width:1200px){
    .promoimg p {
    font-size: 64px;
    color: #fff;
    font-family: 'Cooper', arial;
    margin-top: -29%;
    width: 460px;
    }
}

.feedback{
    float: left;
    height: 300px;
    width: 550px;
    font-size: 20px;
    color: #fff;
    margin-left: 40px;
    margin-top: 10px;
}
@media(max-width:1200px){
    .feedback{
    height: 600px;
    width: 60%;
    font-size: 54px;
    margin-left: 0;
    margin-right: -25%;
    padding-left:20px;
    margin-top: 0;
    }
}
@media(max-width:1200px){
    .feedback p{
    margin-top: -30px;
    font-weight:bold;
    margin-bottom: 10px;
    }
}
@media(max-width:1200px){
    .feedback h3{
    margin-top: -10px;
    font-family: 'Cooper', arial;
    font-weight: lighter;
    }
}
.feedback img{
    float: left;
    height: 300px;
    width: 300px;
    padding-left: 50px;
    margin-top: 30px;
}
@media(max-width:1200px){
    .feedback img{
    height: 550px;
    width: 550px;
    margin-left: 106px;
    margin-top: 40px;
    }
}
.feedbackinput{
    display: block;
    width: 540px;
    height: 60px;
    font-weight: 400;
    line-height: 1.5;
    background-color:  #2bfafa00;;
    background-clip: padding-box;
    border: 1px solid  #2bfafa00;
    border-bottom: 1px solid  #fff;
    outline: none;
    font-size:17px;
    color:rgb(9, 128, 128);
}
@media(max-width:1200px){
    .feedbackinput{
        width: 540px;
        height: 100px;
        font-size: 54px;
        border-bottom:5px solid #fff;
        font-family:'Cooper', arial;
        font-weight: lighter;
    }
}

.feedbackinput::-webkit-input-placeholder {
    color: #fff;
    font-size: 17px;
   } 
.feedbackinput::-moz-placeholder {
    color: #fff;
    font-size: 17px;
   }
@media(max-width:1200px){
    .feedbackinput::placeholder {
    font-size: 54px;
    font-family:'Cooper', arial;
   }
}
@media(max-width:1200px){
    .feedback input.btn-success{
    border-radius: 50px;
    width: 320px;
    height: 100px;
    margin-top: 50px;
    font-size: 52px;
    }
}

.btn.btnsuccess, .btn-success, .btn.btn-primary, .btn-next, #pop-up button{
    background-color: #fff;
    border: 1px solid  #2bfafa00;
    border-radius: 20px;
    color: #0d99a6;
    width: 150px;
    height: 40px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.btn.btnsuccess:hover, .btn-success:hover, .btn.btn-primary:hover, #test.btn.btn-primary:hover{
    background-color: #be3237ae;
    color: #ffffff;
}
.btn.btnsuccess:active, .btn-success:active, .btn.btn-primary:active{
    background-color: #be3237ae;
    color: #ffffff;
    width: 147px;
    height: 37px;
}
.btn.btnsuccess.disabled, .btn.btnsuccess.disabled:hover, .btn.btnsuccess.disabled:active{
    background-color: #e7e7e7ae;
    color: #0d99a6;
    width: 150px;
    height: 40px;
}       

/*Подвал*/ 
.footer{
    margin: 40px 0px 0px;
    padding-top: 10px;
    height: 250px;
    background-color: #0d99a6;
}
@media(max-width:1200px){
    .footer{
        width: 109%;
        height: auto;
    }
}

.footer_box{
    width: 90%;
    height: 190px;
    margin-left: 5%;
    font-weight:bold;
    color: #fff;
}
@media(max-width:1200px){
    .footer_box{
    height: 400px;
    width: 98%;
    margin-left: 2%;
    }
}
.footer_box1{
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: #fff;
}
@media(max-width:1200px){
    .footer_box1{
    width: 109.2%;
    height: 130px;
    }
}
.contacts{
    width: 30%;
    height: 230px;
    font-size: 16px;
    float: left;
    margin: 0;
    padding-right: 35px;
    padding-left: 0;
}
@media(max-width:1200px){
    .contacts{
    width: 31%;
    height: 98%;
    font-size: 32px;
    float: left;
    margin-top: 1%;
    margin-right: -3%;
    margin-left: 0;
    }
}
.contacts img{
    margin: -15px 0 -20px;
}
@media(max-width:1200px){
    .contacts img{
    margin: -15px 0px -48px;
    height: 245px;
    width: 245px;
    }
}
@media(max-width:1200px){
    .contacts iframe{
    margin-top: 1%;
    margin-left: 5%;
    height: 92%;
    width: 110%;
    margin-bottom: -16%;
    }
}
ul.contacts li{
    list-style-type: none;
    padding-top: 10px;
}
ul.contacts li a{
    text-decoration: none; 
    color: #fff;
}
.contactsicon{
    width: 12%;
    height: 56px;
    margin-left: 40%;
}
@media(max-width:1200px){
    .contactsicon{
        width: auto;
        margin-left: 36%;
    }
}
.contactsicon img{
    padding-top: 5px;
    height: 50px;
    width: 50px;
}
@media(max-width:1200px){
    .contactsicon img{
    height: 120px;
    width: 120px;
    }
}

.menubtn, .dropbtn, .dropdown a {
    text-decoration: none;
    width: auto;
    float: left;
    display: inline; 
    padding-top: 20px;
    font-weight:bold;
    color: rgb(13, 153, 166);
    margin-left: 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    color: rgba(30, 236, 255, 0.903);
}

.dropdown {
    position: relative;
    display: inline-block;
    left: 360px;
}
@media(max-width:1200px){
    .dropdown{left: 200px;;
    }
}

.menu-content, .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 200px;
    top: 10px;
    z-index: 1;
    border-radius: 10px;
    left: 190px;
    text-align: left;
    overflow-x: hidden;
    padding: 0;
}

.menu-content a, .dropdown-content a {
    color: rgb(13, 153, 166);
    padding: 10px 0px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:last-child {
    padding-bottom: 20px;
}

.dropdown a:hover {
    color:rgba(30, 236, 255, 0.903);
}

.dropdown a:not([href]):not([tabindex]) {
    color: rgb(13, 153, 166);
    text-decoration: none;
}
.dropdown a:not([href]):not([tabindex]):hover {
    color:rgba(30, 236, 255, 0.903)
}

.show {display: block;}

.section{
    height: 600px; 
    /*border:2px solid #fff; */
    padding-top:70px;
    padding-left:0px;
    margin-top: -70px;
}
@media(max-width:1200px){
    .section{
    height: 1900px; 
    padding-top:110px;
    margin-top: -150px;
    width:100%; 
    }
}
.serviceblock{
    height: 500px;
    width:100%; 
    /*border:1px solid #fff; */
    font-size: 26px;
}
.serviceblock button.btn.btn-primary{
    float: left;
    margin: 10px;
}
@media(max-width:1200px){
    .serviceblock button.btn.btn-primary{
    float: left;
    margin-left: 150px;
    margin-top: -10px;
    height: 140px;
    width:320px;
    border-radius: 70px;
    font-size: 52px;
    
}
}
.serviceblock img{
    height:480; 
    width:200px; 
    float: left; 
    margin-right:10px; 
}
@media(max-width:1200px){
    .serviceblock img{
    height:960px; 
    width:398px; 
    float: left; 
    margin-right: 9px;
    margin-left:-9px;
    }
}
.serviceblock p{
    text-align: left;
}
@media(max-width:1200px){
    .serviceblock p{
    font-size: 56px;
    margin-top: -20px;
    padding:25px;
    width:100%; 
    }
}

.servicename{
    /*border:1px solid #fff; */
    width:100%; 
    height:auto;
}
@media(max-width:1200px){
    .servicename{
    font-size:86px;
    padding-top: 20px;
    }
}
.servicepage{
    height: 3640px;
}
@media(max-width:1200px){
    .page {
    height: 2370px;
    width: 90%;
    }
}
@media(max-width:1200px){
    .servicepage{
    height: 11400px;
    width: 105%;
    margin-left: 5%;
    }
}
#graduates .serviceblock img{
    height:200px; 
    width:480px; 
    float: left; 
    margin-right:10px; 
}
@media(max-width:1200px){
    #graduates .serviceblock img{
    height:400px; 
    width:960px; 
    margin-left:70px; 
    margin-top: -70px; 
    margin-bottom: 40px; 
    }
}
#adults .serviceblock img{
    height:356px; 
    width:356px; 
    float: right;
}
@media(max-width:1200px){
    #adults .serviceblock img{
    height:670px; 
    width:670px; 
    margin-top: -90px;
    margin-bottom: -60px;
    margin-right: -10px;
    }
}
#overseasstudy .serviceblock img{
    margin-top: 20px;
    height:300px; 
    width:300px; 
    float: left;
}
@media(max-width:1200px){
   #overseasstudy .serviceblock img{
    margin-top: 40px;
    margin-left: -10px;
    margin-right: -20px;
    margin-bottom: -10px;
    height:600px; 
    width:600px; 
    }
}
#exampreparation .serviceblock img{
    margin-top: 20px;
    height:330px; 
    width:450px; 
    float: right;
}
@media(max-width:1200px){
   #exampreparation .serviceblock img{
    margin-top: 10px;
    margin-right: -10px;
    height:445px; 
    width:675px; 
    }
}
#conversationclub .serviceblock img{
    padding-left: 150px;
    padding-right: 150px;
    height:250px; 
    width:800px; 
}
@media(max-width:1200px){
   #conversationclub .serviceblock img{
    padding: 0;
    height:350px; 
    width:102%; 
    }
}

.services-block{
    float: left;
    margin:20px; 
    width:97%; 
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.services-block a{
    text-decoration: none;
    color: #fff;
}

.services-block input{
    font-size: 18px;
}

.table{
    margin-top: 20px;
}
.admin-services-block{
    float: left;
    width: 500px;
    height: 200px;
    margin: 20px;
    padding-top: 40px;
    background-color: #00eaff1d;
    text-align: center;
}
.admin-services-block:hover{
    background-color: #00eaff51;
}
.admin-services-block p{
    font-size: 36px;
    color: #fff;
    font-family:'Cooper', arial;
}

.btn-danger {
    color: #dc3545;
    background-color: #fff;
    border-color: #fff;
}

#calc{
    margin-bottom: -4%;
}
#calc .servicename{
    margin-top: 10px;
    margin-left: -20px;
}
.calc{
    float: left;
    width: 48%;
    height: 200px;
    margin-left: 10%;
    margin-right: -8%;
    margin-top: 8px;
    padding-top: 12px;
}
@media(max-width:1200px){
   .calc{
    float: left;
    width: 100%;
    height: 370px;
    margin-left: 7%;
    }
}

button#check_button.btn.btn-primary{
    margin-left: 40%;
    margin-right: -38%;
    margin-top: 10px;
    height: 60px;
    width: 200px;
}
@media(max-width:1200px){
   button#check_button.btn.btn-primary{
    margin-left: 30%;
    margin-top: 20px;
    height: 130px;
    width: 660px;
    font-size: 60px;
    border-padius: 100px;
    }
}

.calc p{
    margin: 5px 30px 10px;
}
@media(max-width:1200px){
   .calc p{
    font-size: 76px;
    margin-left:25px;
    padding-left:0;
    }
}
.calc img{
    height: 130px;
    width: 130px;
    margin-left: 3px;
    border-radius: 20px;
}
@media(max-width:1200px){
   .calc img{
    height: 230px;
    width: 230px;
    margin-left: 25px;
    margin-right: 12px;
    border-radius: 20px;
    }
}
.calc label > input{ 
    visibility: hidden; 
    position: absolute;
  }

.calc label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    padding: 7px;
    border-radius: 20px;
    background-image: linear-gradient(225deg, rgb(0, 233, 255), rgb(13, 153, 166), rgb(242, 0, 0));
    height: 115px;
    width: 115px;
    -webkit-animation: pulsate 1.8s linear infinite;
    animation: pulsate 1.8s linear infinite;
}  

@-webkit-keyframes pulsate {
    50% { background-image: linear-gradient(45deg, rgb(218, 252, 255), rgb(55, 183, 195), rgb(243, 71, 71)); 
        
    }
}
@keyframes pulsate {
    50% { background-image: linear-gradient(45deg, rgb(0, 233, 255), rgb(13, 153, 166), rgb(242, 0, 0));
       
    }
}
@media(max-width:1200px){
   .calc label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    padding: 12px;
    border-radius: 20px;
    height: 206px;
    width: 206px;
    } 
}
.calcres{
    display: none;
    height: 555px;
    width: 88%;
    border: 3px solid #e6e6e650;
    background-color: #e6e6e650;
    border-radius: 20px;
    float: left;
    text-align: left;
    margin-top: -15px;
    margin-left: 80px; 
    margin-bottom:-25px;
}
@media(max-width:1200px){
   .calcres {
    display: none;
    height: 1550px;
    width: 100%;
    border: 3px solid #e6e6e650;
    background-color: #e6e6e650;
    border-radius: 20px;
    float: left;
    text-align: left;
    margin-top: 70px;
    margin-left: 50px;
    padding-left: 20px;
    padding-right: 75px;
    padding-top: 50px;
    }
}
.calcres.calcactive{
    display: block;
}
.calcres p{
    color:  #fff; 
    padding: 0;
    font-weight: lighter;
    text-align: center;
}
.calcres p:first-child{
    padding-bottom: 24px;
}
.calcres table{
    color:  #F20000; 
    float: left;
    font-size: 24px;
    width: 100%;
    text-align: center;
    margin: 20px 0px 30px;
}
.calcres table p{
    color: #fff; 
    margin: 10px 5px 10px;
}

.calcres tr,th,td{
    padding: 10px 0px 10px;
    width: auto;
    border: 0px;
    margin: 0;
}
th#year,td#year{
    background-color: #0d99a6;
    border-radius: 20px;
}
@media(max-width:1200px){
   .calcres table h4, .calcres table p, #year{
    font-size:54px;
    }
}

#calcerror{
    height: auto;
    width: auto;
    color: #F20000; 
    font-size:24px; 
    margin-top: -35px;
    margin-bottom:-35px;
}
#calcerror.noactive{
    opacity: 0;
}
@media(max-width:1200px){
   #calcerror{
    width: 100%;
    font-size:42px; 
    margin-left: 100px;
    margin-top: -40px;
    margin-bottom:-40px;
    }
}
#calcparametr{
    transform: translate(0px, 0px);
    display: block;
}
#calcparametr.noactive{
    display: none;
    transform: translate(-100px, -200px);
    transition-duration: 1s;
}


.modal-content, .test{
    height: 370px;
    width: 630px;
    background: linear-gradient(225deg, rgb(242, 0, 0) 17%, rgb(0, 233, 255) 85%);
    border: 5px solid #fff;
    border-radius: 20px;
    position: fixed;
    display: none;
    top:120px;
    bottom: 200px;
    left: 320px;
    padding-top: 5px;
    z-index: 100;
}
@media(max-width:1200px){
   .modal-content, .test {
    height: 1690px;
    width: 96%;
    background: linear-gradient(225deg, rgb(242, 0, 0) 17%, rgb(0, 233, 255) 85%);
    border: 5px solid #fff;
    border-radius: 20px;
    position: fixed;
    display: none;
    top: 170px;
    bottom: 200px;
    left: 2%;
    padding-top: 100px;
    z-index: 100;
    }
}
.modal-content a, .test a{
    cursor: pointer;
    color: #fff;
    float: right;
    margin: 3px 8px;
}
@media(max-width:1200px){
   .modal-content a, .test a{
    margin: -70px 50px;
    font-size:72px;
    }
}

.modal-content.show-window, .test.show-window{
    display: block;
    font-size: 20px;
    font-weight: bold;
}
#success{
    margin-left: 0px;
    color: #528E0F;
}
#success.noactive{
    opacity: 0;
}

.header_box_position{
    width: auto;
    height: 54px;
    margin-bottom: -1%;
}
@media(max-width:1200px){
    .header_box_position{width: 100%;
    }
}

#test{
    position: absolute;
    left: 57%;
    top: -10px;
}
button.btn-next{
    width: 150px;
    height: 50px;
    margin-left: 60px;
    border-radius: 30px;
}
.btn-next:hover, input:checked ~ button:not(#btn-next):hover{
    background-color: #be3237ae;
    color: #ffffff;
}
#test.btn.btn-primary{
    background-color: #0d99a6;
    color: #fff;
    margin-top: 17px;
    width: 80px;
    left:850px;
}
.answer{
    height: 300px;
    width: 530px;
    float: left;
    color: #fff;
    text-align: left;
    font-size: 26px;
    display: none;
    margin-top: 35px;
    margin-left: 60px;
    padding: 0;
}
@media(max-width:1200px){
    .answer{
    height: 1500px;
    width: 90%;
    float: left;
    font-size: 72px;
    margin-top: 35px;
    margin-left: 60px;
    padding: 0;
    }
}
.testactive{
    display: block;
}

.answer button:not(#btn-next) {
    pointer-events: none;
    background-color: #e7e7e7ae;
    user-select: none;
}
input:checked ~ button:not(#btn-next) {
    pointer-events: unset;
    background-color: #fff;
    opacity: 1;
}
*:target ~ #btn-next,
    .hidden {
    display: none;
}
.hidden:target {
    display: unset;
}
.test-block{
    height: 230px;
    width: 250px;
    float: left;
    text-align: center;
    margin-left: 10px;
}
@media(max-width:1200px){
    .test-block{
    height: 500px;
    width: 49%;
    float: left;
    text-align: center;
    margin-top: 350px;
    }
}
.test-block img{
    height: 130%;
    width: 100%;
}
.test-block h3{
    margin-top: 60px;
}
.answer-block{
    height: 320px;
    width: 530px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: -10px;
}
.answer-block::-webkit-scrollbar, .messages::-webkit-scrollbar, .messagesbook::-webkit-scrollbar{
    width: 10px;
}
  
.answer-block::-webkit-scrollbar-track, .messages::-webkit-scrollbar, .messagesbook::-webkit-scrollbar{
    background-color: #f9f9fd00;
    border-radius: 10px;
}
  
.answer-block::-webkit-scrollbar-thumb, .messages::-webkit-scrollbar, .messagesbook::-webkit-scrollbar {
    border-radius: 10px;
    background: linear-gradient( rgba(255, 255, 255), rgb(0, 233, 255),rgb(242, 0, 0));
}
@media(max-width:1200px){
    .answer-block{
    height: 1500px;
    width: 80%;
    font-size:78px;
    margin-top: -10px;
    padding-left: 100px;
    padding-right: 100px;
    }
}
.answer-block input{
    height: 20px;
    width: 20px;
    }
@media(max-width:1200px){
    .answer-block input{
    height: 60px;
    width: 60px;
    }
}

#begginer.test-block, #elementary.test-block, #intermediate.test-block{
    display: none;
}
#begginer.test-block.active, #elementary.test-block.active, #intermediate.test-block.active{
    display: block;
}
#beginner.test-block img, #elementary.test-block img, #intermediate.test-block img{
    width: 100%;
}
@media(max-width:1200px){
   #beginner.test-block.active img, #elementary.test-block.active img, #intermediate.test-block.active img{
    margin-top: 150px;
    }
}

#pop-up {
    position: fixed; 
    top: 2%;
    left: 2%;
    width: 96%;
    height:96%;
    background: linear-gradient(225deg, rgba(135, 5, 5, 0.773) 17%, rgb(13, 143, 155) 85%);
    z-index: 9999;
    border-radius: 40px;
}
#pop-up div{
    top: 8%;
    left: 5%;
    position: absolute;
    height: 86%;
    width: 90%;
    font-size: 34px;
    text-align: center;
    font-family:'Cooper', arial;
    color: #fff;
}
@media(max-width:1200px){
    #pop-up div{
    top: 4%;
    height: 90%;
    width: 90%;
    font-size: 68px;
    }
}
#pop-up button {
    position: absolute;
    right: 42%;
    top: 87%;
    cursor: pointer;
    margin-top: -10px;
    font-size: 36px;
    height: 60px;
    width: 200px;
    border-radius: 40px;
}
@media(max-width:1200px){
    #pop-up button {
    right: 32%;
    top: 95%;
    margin-top: -10px;
    font-size: 70px;
    height: 110px;
    width: 380px;
    border-radius: 60px;
    }
}
  
.feedback#login{
    margin-left: -160px;
    margin-top: 100px;
    border: 2px solid rgba(255, 255, 255, 0.079);
    background-color: rgba(255, 255, 255, 0.079);
    margin-bottom: 190px;
    padding: 10px;
    height: auto;
    margin-bottom:210px;
}
.feedback#login a{
    text-decoration: none;
    color: #fff;
}

.bigmenu{
    display: block;
}
.hamburger-menu{display: none;
}
@media(max-width:1200px){
    .bigmenu{display: none;
    }
}
@media(max-width:1200px){
    .hamburger-menu{display: block;
    }
}
.hamburger-menu .dropdown-content, .hamburger-menu .menu-content{
    height: 300px;
    width: 320px;
    top: 520px;
    left: 800px;
    font-size: 64px;
    padding: 10px 20px 10px;
    font-weight: bold;
}
.hamburger-menu .menu-content{
    width: 460px;
    top: 100px;
    left: 700px;
    height: auto;
}
.hamburger-menu .dropdown-content a, .hamburger-menu .menu-content a{
    margin: 10px 0px 10px;
    
}
.hamburger-menu a.dropbtn, .hamburger-menu a.menubtn{
    font-size: 72px;
    position: absolute;
    left: 1060px;
    margin-top: -5px;
}
.hamburger-menu .dropdown-content.show.contentfixed,  .hamburger-menu .menu-content.show.contentfixed{
    position: fixed;
    top: 100px;
}

@media(max-width:1200px){
    #test.btn.btn-primary{
    border-radius: 50%;
    width: 160px;
    height: 120px;
    left:0;
    margin-top: 10px;
    margin-left: 86%;
    font-size: 56px;
    padding-top: 8px
    }
}
@media(max-width:1200px){
    #test{
    position: fixed;
    left: 2%;
    top: 140px;
    }
}
.status {
    color: #528E0F;
}
@media(max-width:1200px){
    .status {
    color: #528E0F;
    margin-top: -50px;
    margin-left: 60px;
    margin-bottom: -20px;
    font-weight: bold;
    }
}

.err{
    color: #F20000; 
    font-size:20px; 
    margin-top:-10px; 
    margin-bottom:-15px;
    
}
@media(max-width:1200px){
    .err{
    width: 1100px;
    color: #F20000; 
    font-size:38px; 
    margin-top:-50px; 
    margin-bottom:10px;
    font-weight: bold;
    }
}
@media(max-width:1200px){
   #calcparametr .servicename{
    margin-left: 9.5%;
    }
}
@media(max-width:1200px){
    button.btn-next, button#btn-next.btn.btn-primary{
    border-radius: 90px;
    width: 360px;
    height: 100px;
    margin-top: 80px;
    margin-left: 230px;
    font-size: 68px;
    }
}
@media(max-width:1200px){
    button#btn-next.btn.btn-primary{
    width: 390px;
    }
}
@media(max-width:1200px){
    #myModal.modal-content.show-window .feedback{
    height: 72%;
    width: 80%;
    font-size: 72px;
    margin-left: 10%;
    margin-top: 28%;
    }
}
@media(max-width:1200px){
    #myModal.modal-content.show-window .feedbackinput{
    width: 97%;
    height: 140px;
    font-size: 72px;
    }
}
@media(max-width:1200px){
    #myModal.modal-content.show-window .feedbackinput:placeholder{
    font-size: 72px;
    font-family: 'Cooper', arial;
    font-weight: lighter;
    }
}
@media(max-width:1200px){
    #myModal.modal-content.show-window .feedback p{
    font-size: 64px;
    font-weight: lighter;
    }
}
@media(max-width:1200px){
    #myModal.modal-content.show-window .feedback button.btn.btnsuccess{
    width: 420px;
    height: 110px;
    font-size: 64px;
    border-radius: 90px;
    margin-top: 90px;
    }
}
a.delprice{
    font-size: 48px;
    margin-left: 30px;
}